<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fer">
  <xacro:include filename="/home/gepetto/ros2_ws/src/agimus-demos/agimus_demo_05_pick_and_place/agimus_demo_05_pick_and_place/urdf/franka_robot.xacro"/>
  <xacro:include filename="/home/gepetto/ros2_ws/src/agimus-demos/agimus_demo_05_pick_and_place/agimus_demo_05_pick_and_place/urdf/support.urdf.xacro"/>

  <xacro:support/>
  <xacro:franka_robot arm_id="fer"
                      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/fer/joint_limits.yaml')}">
  </xacro:franka_robot>

  <!-- wall behind the table -->
</robot>
